@import 'UTF-8';

table{
    width: 200px;
    height: 70px;
    border-collapse: collapse;
    position: relative;
}

caption{
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    background-color: lightblue;
}

td,th{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.nota{
    text-align: center;
}
tbody > tr:nth-child(odd){
    background-color: aqua;
}

tbody > tr > th{
    position: sticky;
    top: 0;
    background-color: black;
}